<ion-view view-title="Comics">
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap">
        <img ng-src="../img/civil_war.png">
        <h2>Ant-Man (2003)</h2>
        <p>#3</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" type="item-text-wrap">
        <img ng-src="../img/civil_war.png">
        <h2>Black Panther (2016)</h2>
        <p>#4</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>