<ion-view view-title="About">
  <ion-content class="padding">
      <div class="row">
          <div>
              <h2>Marvel Entertainment</h2>
              <p>Marvel Entertainment, LLC, a wholly-owned subsidiary of The Walt Disney Company, is one of the world's most prominent character-based entertainment companies, built on a proven library of over 8,000 characters featured in a variety of media over seventy years.  Marvel utilizes its character franchises in entertainment, licensing and publishing.</p>
              <blockquote>
                  <p>With great power there must also come ... great responsibility!</p>
                  <footer>Stan Lee,  
                  <cite title="Source Title">Amazing Fantasy, #15, August 1962</cite></footer>
              </blockquote>                
          </div>
        </div>
        <div class="row">
          <div>
            <h3 class="panel-title">Corporate Headquarters</h3>
            <address>Marvel Entertainment, LLC<br/>
              135 W. 50th Street<br/>
              New York, NY 10020</address>
          </div>
      </div>
  </ion-content>
</ion-view>
