<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Comics" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/comics">
    <ion-nav-view name="tab-comics"></ion-nav-view>
  </ion-tab>
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
